---
import { Image, Picture } from "astro:assets";

import Ocean from "./assets/Ocean.png";
import CtaButton from "../../shared/CtaButton.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle from "../../shared/SubTitle.astro";
import Title from "../../shared/Title.astro";
import LazyImage from "../../shared/LazyImage.astro";




const heroSection = {
  headline1: "¿Por Qué?",
  
  headline2: "",
  headline3: "Telemetrik",
  headline4: "AWS",
  subheading1: "En Telemetrik, entendemos que el agua limpia es mucho más que un recurso: es la base de un futuro próspero, una vida saludable y un mundo más justo.",
  subheading2: "Cada vez que ayudamos a una comunidad a acceder a ella, no solo cambiamos su presente sino que sembramos las semillas de un futuro mejor.",
  subheading3: "Nuestra misión es asegurar que cada persona sin importar su ubicación, tenga el agua con la calidad necesaria para transformar su vida",
  buttonText: "Conócenos",
  backgroundImage: "hero-background-image.jpg",
};

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className} w-full h-[80vh] dm:h-[90vh]` id="hero">
  <div class="w-full h-full pt-[100px] w-full h-full pt-[100px] p-1 md:p-25">
    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 justify-end bg-base-100 dark:bg-base-dark-900"
    >
      <div class="flex flex-col justify-center text-center  md:ml-auto px-4 dm:px-1 ">
        <Title className="text-l md:text-2x1 lg:text-l">
          {heroSection.headline1}
          <GradiantText
            >{" " + heroSection.headline2}
            <br />
            {" " + heroSection.headline3}
            {" "+ heroSection.headline4}
          </GradiantText>
        </Title>
        <SubTitle className=" mt-10 text-lg md:text-xl leading-8 md:leading-10" >
          {heroSection.subheading1}
          <br />
          {heroSection.subheading2}<br />
          {heroSection.subheading3}
        </SubTitle>
         <!-- Agregar las imágenes aquí -->
         <div class="flex justify-center gap-10 mt-8">
          <div class="relative  overflow-hidden">
            <img 
              src="/images/badge.png" 
              alt="Descripción de la imagen" 
              class="h-24 w-24 md:h-40 md:w-40 object-contain" 
            />
          </div>
          <div class="relative  overflow-hidden">
            <img 
              src="/images/saas.png" 
              alt="Descripción de la imagen" 
              class="h-24 w-24 md:h-40 md:w-40 object-contain" 
            />
          </div>
        </div>

      </div>
      <div class="flex relative pt-10 md:p-0">
        <LazyImage
          src={Ocean}
          alt="A picture of a wind turbine."
          className="w-full h-full object-cover dm:hidden midmd:block" 
        />
        <svg
          class="fill-base-100 dark:fill-base-dark-900 z-10 absolute top-0 left-0 h-full hidden md:block"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 400"
        >
          <path d="M0 0l0 400L100 0Z"> </path>
        </svg>
      </div>
    </div>
  </div>
</section>
